{% extends './adminBase.html' %}
{% load static %}


{% block content %}
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Order received</p>
                    <h6 class="mb-0" id="order"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Orders delivered</p>
                    <h6 class="mb-0" id="delivered"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Orders in process</p>
                    <h6 class="mb-0" id="process"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue</p>
                    <h6 class="mb-0" id="total"></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="mb-0">Sales history</h2>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col" class="text-center">Date</th>
                        <th scope="col" class="col-2 text-center">Product</th>
                        <th scope="col" class="text-center">Customer</th>
                        <th scope="col" class="text-center">Payment Mode</th>
                        <th scope="col" class="text-center">Amount</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order_detail %}
                    {% if order.status != 'waiting for confirmation' %} 
                        <tr>
                            <td class="text-center">{{order.order.order_date}}</td>
                            <td class="text-center"><a href="/add-product/{{user}}/{{order.product.id}}" class="text-light">{{order.product.product_name}}</a></td>
                            <td class="text-center">{{order.order.user.first_name}} {{order.order.user.last_name}}</td>
                            <td class="text-center">{{order.order.payment_method}}</td>
                            <td class="text-center price">{{order.product.price}}</td>
                            <td class="text-center status" data-order-id={{order.id}} data-order-status="{{order.status}}">{{order.status}}<i class="bi bi-pencil"  data-bs-toggle="modal" data-bs-target="#myModal"></i></td>
                            <td class="d-flex justify-content-center mt-2"><a class="btn btn-sm btn-primary" href="/admin-order/{{user}}/{{order.order.id}}">Detail</a></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
<!-- Popup Model Functionality -->
<form action="" method="post">
    {% csrf_token %}
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select to change status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="order-id" value={{order.id}}>
                    <p class="text-white"><input type="radio" name="statusUpdate" value="order placed"> Order Placed </p>
                    <p class="text-white"><input type="radio" name="statusUpdate" value="shipped"> Shipped </p>
                    <p class="text-white"><input type="radio" name="statusUpdate" value="delivered"> Delivered </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="statusUpdateBtn" data-bs-dismiss="modal" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Popup Model Functionality End  -->

<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-8 col-xl-8">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h2 class="mb-0">New Orders</h2>
                </div>
                {% for order in order_detail %}
                    {% if order.status == 'waiting for confirmation' %}
                        <div class="pending-order d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="{% static 'img2/user.jpg' %}" alt=""
                                style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                <span>Order to be confirmed</span>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">{{order.product.product_name}}</h6>
                                    <small><button data-order-id="{{order.id}}" data-order-status="order placed" class="cnf-order  btn btn-primary btn-sm">accept</button></small>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="mb-0">Calender</h2>
                    <a href="">Show All</a>
                </div>
                <div id="calender"></div>
            </div>
        </div>
    </div>
</div>
<!-- Widgets End -->

<script>
    $(function () { 
        $('.nav-item').ready(function () { 
            $('#dashboard').addClass('active');
         });
     })



    $(document).ready(function(){
        total=0
        t_order = -1
        t_delivered = 0
        t_process = 0
        $('tr').each(function(){
            t_order += 1
            $(this).find('td').each(function(){
                var price = $(this).closest('.price').html()
                if (price!=undefined){
                    total += parseInt(price)
                }
                var status = $(this).attr('data-order-status');
                if ((status != undefined) && (status != 'delivered')){
                    t_process += 1
                }
                
            })
        })
        t_delivered = t_order-t_process
        $('#total').text('₹ ' + total)
        $('#order').text(t_order)
        $('#process').text(t_process)
        $('#delivered').text(t_delivered)
    })

    var a = "";
    $('.status').click(function(){
        a = $(this).attr('data-order-id');
    })
    
    
    $('#statusUpdateBtn').click(function(){
        event.preventDefault()
        var selectedOption = $('input[name="statusUpdate"]:checked').val()
        let csr = $('input[name=csrfmiddlewaretoken]').val()
        
       
        
        $.ajax({
            url: `/update-status/${a}`,
            method: "POST",
            data : {selectedOption:selectedOption, csrfmiddlewaretoken:csr},
            success: function(data){
                location.reload()
                // $('#myModal').modal('hide');
            }
        })

        
        
    })

    $('.cnf-order').click(function(){
        var a = $(this).attr('data-order-id');
        var selectedOption = $(this).attr('data-order-status')
        let csr = $('input[name=csrfmiddlewaretoken]').val()
        let mythis=this
        $.ajax({
            url: `/update-status/${a}`,
            method: "POST",
            data : {selectedOption:selectedOption, csrfmiddlewaretoken:csr},
            success: function(data){
                $(this).closest('.pending-order').remove()
            }
        })


    })


</script>



{% endblock %}