{% extends './adminBase.html' %}
{% load static %}

{% block content %}
<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-secondary rounded  mx-0">
        <div id="order-detail">
            <div class="box">
                <h1>Order #{{order.id}} </h1>
                <p class="lead">Order #{{order.id}} was placed on <strong>{{order.order_date}}</strong> and is currently
                    <strong>not completed</strong>.&nbsp&nbsp <a href=""><i class="bi bi-pencil"></i></a>
                </p>
                <hr>
                <div class="table-responsive mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">Product</th>
                                <th>Quantity</th>
                                <th>Unit price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order_items %}
                            <tr>
                                <td colspan="2"><a href="#"><img src="{{item.product.image1.url}}"
                                            alt="{{item.product.product_name}}" style="height: 80px; width: 80px;"></a></td>
                                <td><a href="/add-product/anurag/{{item.product.id}}" class="text-light">{{item.product.product_name}}</a></td>
                                <td>{{item.quantity}}</td>
                                <td>&#8377;{{item.product.price}}</td>
                                <td class="price">&#8377;{% widthratio item.product.price 1 item.quantity %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" class="text-right">Gross Total</th>
                                <th>&#8377;{{order.total_bill}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row addresses">
                    <div class="col-lg-6">
                        <h2>Invoice address</h2>
                        <p>{{order.user.first_name}}&nbsp{{order.user.last_name}}<br>{{invoice.house}},
                            {{invoice.area}}<br>{{invoice.landmark}}<br>{{invoice.city}},
                            {{invoice.state}}<br>{{invoice.zip}}<br>Mob. no - {{user.mobile}}
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h2>Shipping address</h2>
                        <p>{{order.user.first_name}}&nbsp{{order.user.last_name}}<br>{{order.delivery_address.house}},
                            {{order.delivery_address.area}}<br>{{order.delivery_address.landmark}}<br>{{order.delivery_address.city}},
                            {{order.delivery_address.state}}<br>{{order.delivery_address.zip}}<br>Mob. no -
                            {{user.mobile}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blank End -->




{% endblock %}