{% extends './adminBase.html' %}
{% load static %}

{% block content %}
<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="h-100 bg-secondary rounded p-4" style="display: flex; flex-direction: row;">
            <div class="intro" style="display: flex; align-items: center; justify-content: center;">
                <div class="circle">
                    <img class="profile-pic" id="profile-pic-show" src="{{ user.profile_pic.url }}">
                </div>
                <div class="p-image">
                    <i class="fa fa-camera upload-button"></i>
                    <input class="file-upload" name="profile-pic" id="profile-pic-upload" type="file" accept="image/*"/>
                </div>
            </div>
            <div class="welcome-msg" style="display: flex; align-items: center;">
                <h1>Welcome @{{user}}</h1>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid pt-4 px-4">
    <div class="row bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="bg-secondary rounded h-100 p-4">
            <form action="" method="post">
                {% csrf_token %}
            <h3 class="mb-4">Personal Information</h3>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, qui!</p>
            <div class="row">
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="firstname" value="{{user.first_name}}">
                    <label for="firstname" class="mx-2">First Name</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="lastname" value="{{user.last_name}}">
                    <label for="lastname" class="mx-2">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" name="house" id="house" placeholder="House no." value="{{data2.house}}">
                    <label for="house" class="mx-2">House No.</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" name="area" id="area" placeholder="Area" value="{{data2.area}}">
                    <label for="area" class="mx-2">Area</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-md-3">
                    <input type="text" class="form-control" name="landmark" id="landmark" value="{{data2.landmark}}" placeholder="Landmark">
                    <label for="landmark" class="mx-2">Landmark</label>
                </div>
                <div class="form-floating mb-3 col-md-3">
                    <input type="text" class="form-control" name="zip" id="zip" value="{{data2.zip}}" placeholder="Zip Code">
                    <label for="zip" class="mx-2">Zip Code</label>
                </div>
                <div class="form-floating mb-3 col-md-3">
                    <input type="text" class="form-control" name="state" id="state" value="{{data2.state}}" placeholder="State">
                    <label for="state" class="mx-2">State</label>
                </div>
                <div class="form-floating mb-3 col-md-3">
                    <input type="text" class="form-control" name="city" id="city" value="{{data2.city}}" placeholder="City">
                    <label for="city" class="mx-2">City</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" name="mobile" id="mobile" value="{{user.mobile}}" placeholder="Mobile">
                    <label for="mobile" class="mx-2">Mobile</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" name="email" id="email" value="{{user.email}}" placeholder="Email">
                    <label for="email" class="mx-2">Email</label>
                </div>
            </div>
            <button type="submit" id="detailBtn" class="btn btn-primary">Update Record</button>
            <button type="button" id="currentLocation" class="btn btn-primary"><i class="bi bi-geo-alt-fill"> </i>Get Current Location</button>

        </div>
    </div>
</div>

<!-- Update Password Block -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="bg-secondary rounded h-100 p-4">
            <form action="" method="">
            <h3 class="mb-4">Update credentials</h3>
            <div class="row">
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" id="old_password" placeholder="Old Password">
                    <label for="old_password" class="mx-2">Old Password</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" name="new_password" id="new_password" placeholder="New Password">
                    <label for="new_password" class="mx-2">New Password</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" name="cnf_password" id="cnf_password" placeholder="Confirm Password">
                    <label for="cnf_password" class="mx-2">Confirm Password</label>
                </div>
            </div>
            <button type="submit" id="passwordBtn" class="btn btn-primary">Update Password</button>
        </div>
    </div>
</div>
<!-- Blank End -->

<script>

    // ***************Ajax to update profile*****************
    $('#detailBtn').click(function(){

    event.preventDefault()
    let first_name = $('#first_name').val()
    let last_name = $('#last_name').val()
    let house = $('#house').val()
    let area = $('#area').val()
    let landmark = $('#landmark').val()
    let zip = $('#zip').val()
    let state = $('#state').val()
    let city = $('#city').val()
    let mobile = $('#mobile').val()
    let email = $('#email').val()
    let csr = $('input[name=csrfmiddlewaretoken]').val()

    if ((first_name == '') || (last_name == '') || (house == '') || (area == '') || (landmark == '') || (zip=='') || (state=='') || (city == '') || (mobile=='')|| (email=='')){
    toastr.message('Address must be provided with proper location.')
    } else {
    mydata = {first_name:first_name,last_name:last_name,house:house, area:area,landmark:landmark,zip:zip, state:state, city:city,mobile:mobile, email:email,csrfmiddlewaretoken:csr}
    }

    $.ajax({
    url : '/account/{{user}}',
    method : "POST",
    data : mydata,
    success : function(data){
        if (data.status=='success'){
        toastr.success(data.message)
        }
    }
    })
    })
    // **************** Ajax End ****************************


    // *****************ajax script to update password**************
    $('#passwordBtn').click(function(){
console.log('Button Pressed')
event.preventDefault()

let old_password=$('#old_password').val()
let new_password=$('#new_password').val()
let cnf_password=$('#cnf_password').val()
let csr = $('input[name=csrfmiddlewaretoken]').val()


if ((old_password=='')||(new_password=='')||(cnf_password=='')){
  toastr.warning("Required credentials can't be left empty.")
} else if (new_password != cnf_password) {
  toastr.warning("Password and confirm password doesn't match.")
  $('form')[0].reset()
} else {
  mydata = {old_password:old_password,new_password:new_password, cnf_password:cnf_password, csrfmiddlewaretoken:csr}
}

$.ajax({
  url : '/update_password/{{user}}',
  method : "POST",
  data : mydata,
  success : function(data){
    if (data.status=='success'){
      toastr.success(data.message)
    } else if (data.status=='error') {
      toastr.error(data.message)
    } else {
      toastr.message(data.message)
    }
  }


})
})
    // ********************* Ajax End ******************************



    // ******************* Function for fetching geolocation ************
    $('#currentLocation').click(function(){
        if( navigator.geolocation )
        {
           // Call getCurrentPosition with success and failure callbacks
           navigator.geolocation.getCurrentPosition( success, fail );
        }
        else
        {
           alert("Sorry, your browser does not support geolocation services.");
        }
    })



    // ************* Function to fetch location based on geolocation *******
    function success(position)
     {

        var nominatimUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${position.coords.latitude}&lon=${position.coords.longitude}`;
        $.ajax({
            url : nominatimUrl,
            method:'GET',
            success:function(data){
                var test = data.display_name.split(',')
                $('#city').val(test[0].split(' ')[0])
                $('#zip').val(test[4])
                $('#state').val(test[3])
                $('#area').val(test[1])
            },
            error: function(){
                alert('There is some error')
            }
        })
     }

     function fail()
     {
        // Could not obtain location
     }
    // ****************Function End *******************************



    // ***************** jQuery for profile picture save ***********
    $(document).ready(function() {
        event.preventDefault()

    
        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                    // var imageUrl = e.target.result
                    // console.log(imageUrl)
                }

                reader.readAsDataURL(input.files[0]);
               
            }
        }


        $(".file-upload").on('change', function(){
            let image = $('.file-upload')[0].files[0]
            let csr = $('input[name=csrfmiddlewaretoken]').val()
            var formData = new FormData()
            formData.append('profile_pic', image)
            formData.append('csrfmiddlewaretoken', csr)

            // console.log(formData)
            $.ajax({
                url : '/account/{{user}}',
                method: 'POST',
                processData:false,
                contentType:false,
                data: formData,
                beforeSend: function (xhr, settings) {
                // Add the CSRF token to the headers
                xhr.setRequestHeader("X-CSRFToken", csr);
                },
                success:function(data){
                    console.log(data)
                },
            })
            readURL(this);
            
        });

        $(".upload-button").on('click', function() {
        $(".file-upload").click();

        
        });
        });
    // ***************** JQuery End ********************************



</script>



{% endblock %}

            