{% extends '../base.html' %}
{% load static %}

{% block content %}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <form method="post" action="" class="col-lg-12">
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Address Section -->
                    <div id="checkout" class="col-md-12">
                        <div class="box">
                            <div class="nav flex-column flex-md-row nav-pills text-center">
                                <a href="#" class="nav-link flex-sm-fill text-sm-center active"> <i
                                        class="fa fa-map-marker"> </i>Address</a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i
                                        class="fa fa-money"> </i>Payment Method</a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye">
                                    </i>Order Review</a>
                            </div>
                            <h1>Address</h1>
                            <div class="content py-3 col-lg-12">
                                <!-- /.row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="house">House No.</label>
                                            <input id="house" name="house" type="text" class="form-control"
                                                value="{{data2.house}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="area">Area</label>
                                            <input id="area" name="area" type="text" class="form-control"
                                                value="{{data2.area}}">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="landmark">Landmark</label>
                                            <input id="landmark" name="landmark" type="text" class="form-control"
                                                value="{{data2.landmark}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="zip">ZIP</label>
                                            <input id="zip" name="zip" type="text" class="form-control"
                                                value="{{data2.zip}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="state">State</label>
                                            <input id="state" name="state" type="text" class="form-control"
                                                value="{{data2.state}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input id="city" name="city" type="text" class="form-control"
                                                value="{{data2.city}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="address-type">Address type</label>
                                            <select id="address-type" name="address-type" class="form-control">
                                                <option value="home">Home</option>
                                                <option value="work">Work</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="currentLocation">  </label>
                                            <button type="button" id="currentLocation" class="form-control"><i class="bi bi-geo-alt-fill"></i>Get Current Location</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                            </div>
                        </div>
                        <!-- /.box-->
                    </div>
                    <!-- Address Section End -->



                    <!-- Payment Method Selection -->
                    <div id="checkout" class="col-lg-12">
                        <div class="box">
                            <h1>Payment method</h1>
                            <div class="content py-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box payment-method">
                                            <h4>Net Banking</h4>
                                            <p>We like it all.</p>
                                            <div class="box-footer text-center">
                                                <input type="radio" name="payment-method" value="net banking">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box payment-method">
                                            <h4>UPI</h4>
                                            <p>VISA and Mastercard only.</p>
                                            <div class="box-footer text-center">
                                                <input type="radio" name="payment-method" value="upi">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box payment-method">
                                            <h4>Cash on delivery</h4>
                                            <p>You pay when you get it.</p>
                                            <div class="box-footer text-center">
                                                <input type="radio" name="payment-method" value="COD">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                            </div>
                            <!-- /.content-->
                            <!-- /.box-->
                        </div>
                    </div>
                    <!-- Payment Method Selection Ends -->

                    <!-- Order Review -->
                    <div id="checkout" class="col-lg-12">
                        <div class="box">
                            <h1>Order review</h1>
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Quantity</th>
                                                <th>Unit price</th>
                                                <th colspan="2">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in data %}
                                            <tr>
                                                <td><a href="#"><img src="../{{data.product.image1}}" alt=""></a></td>
                                                <td><a href="#">{{data.product.product_name}}</a></td>
                                                <td>{{data.quantity}}</td>
                                                <td>{{data.product.price}}</td>
                                                <td>{% widthratio data.product.price 1 data.quantity %}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4">Total</th>
                                                <th colspan="2">{{total}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                
                                <!-- /.table-responsive-->
                            </div>
                            <!-- /.content-->
                            <div class="box-footer d-flex justify-content-between"><a class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Cart</a>
                                <button type="button" id="orderPlaced" class="btn btn-primary">Place an order<i
                                        class="fa fa-chevron-right"></i></button>
                            </div>

                </form>
            </div>
            <!-- /.box-->
        </div>
        <!-- Order Review Ends -->
        </form>
    </div>
</div>
</div>
</div>


<script>

    $('#orderPlaced').click(function(){
        let house = $('#house').val()
        let area = $('#area').val()
        let landmark = $('#landmark').val()
        let zip = $('#zip').val()
        let state =  $('#state').val()
        let city = $('#city').val()
        let address_type = $('#address-type').val()
        let payment_method = $('input[name="payment-method"]:checked').val()
        let csr = $('input[name=csrfmiddlewaretoken]').val()

        if ((house=='')||(area=='')||(landmark=='')||(zip=='')||(state=='')||(city=='')||(address_type=='')||(payment_method=='')){
            toastr.warning('Fields are empty. Fill it to move ahead')
        } else {
            myData = {house:house, area:area, landmark:landmark, zip:zip, state:state, city:city, address_type:address_type, payment_method:payment_method, csrfmiddlewaretoken:csr}
            
        }
        $.ajax({
                url: '/checkout/{{user}}',
                method: "POST",
                data:myData,
                success: function(data){
                    if (data.status=='success'){
                        toastr.success(data.message)
                    } if (data.status=='error'){
                        toastr.error(data.message)
                    } if (data.message1){
                        toastr.error(data.message1)
                    }

                    if (data.redirect=='required'){
                        window.location.href=data.url
                    }
                }
            })

        

    })


    $('#currentLocation').click(function(){
        if( navigator.geolocation )
        {
           // Call getCurrentPosition with success and failure callbacks
           navigator.geolocation.getCurrentPosition( success, fail );
        }
        else
        {
           alert("Sorry, your browser does not support geolocation services.");
        }
    })

    function success(position)
     {
        var nominatimUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${position.coords.latitude}&lon=${position.coords.longitude}`;
        $.ajax({
            url : nominatimUrl,
            method:'GET',
            success:function(data){
                // alert(data.display_name)
                var test = data.display_name.split(',')
                $('#city').val(test[0].split(' ')[0])
                $('#zip').val(test[4])
                $('#state').val(test[3])
                $('#area').val(test[1])
            },
            error: function(){
                alert('There is some error')
            }
        })

        
        //  document.getElementById('long').value = position.coords.longitude;
        //  document.getElementById('lat').value = position.coords.latitude
     }

     function fail()
     {
        // Could not obtain location
     }



</script>




{% endblock %}