{% extends '../base.html' %}
{% load template_tags %}
{% load static %}
{% query_transform %}
{% block content %}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Category</li>
                  <li aria-current="page" class="breadcrumb-item active">{{selected_category}}</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** MENUS AND FILTERS ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Categories</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                        {% for data in category %}
                        {% if data == selected_category %}
                        <li><a href="/product_category/{{ data.id }}" class="nav-link active"> {{ data.category }}</a></li>
                        {% else %}
                        <li><a href="/product_category/{{ data.id }}" class="nav-link"> {{ data.category }}</a></li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card sidebar-menu mb-4">
                {% if brands %}
                <div class="card-header">
                  <h3 class="h4 card-title">Brands <a href="" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>
                <div class="card-body">
                  <form method="get" action="">
                    <div class="form-group">
                      {% for brand in brands %}
                      <div class="checkbox">
                        <label>
                          <input class="filterbrand" type="checkbox" name="brandSelections" value="{{brand.id}}"> {{ brand.brand_name }}

                        </label>
                      </div>
                      {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if colors %}
                <div class="card-header">
                  <h3 class="h4 card-title">Colours</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      {% for color in colors %}
                      <div class="checkbox">
                        <label>
                          <input class="filtercolor" type="checkbox" name="colorSelections" value="{{color.color_name}}"> {{ color.color_name }}
                        </label>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button> -->
                </div>
                {% endif %}
                <div class="card-header">
                  <h3 class="h4 card-title">Select Price Range</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <div class="radio">
                        <label>
                          <input type="radio" name="rangeSelections" value='500'> Under 500 </input>
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="rangeSelections" value='1000'> Under 1000 </input>
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="rangeSelections" value='2000'> Under 2000 </input>
                        </label>
                      </div>
                    </div>
                    <button id="applyBtn" class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                  </form>
                </div>
              </div> 
              <!-- *** MENUS AND FILTERS END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>{{selected_category}}</h1>
              </div>
              <div class="box info-bar">
                <div class="row">
                  <div class="col-md-12 col-lg-4 products-showing">Showing <strong>{{ product_data.start_index }} - {{ product_data.end_index }}</strong> of <strong> {{ product_data.paginator.count }} </strong> products</div>
                  <div class="col-md-12 col-lg-7 products-number-sort">
                    <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                      <!-- <div class="products-number"><strong>Show</strong><a href="" class="btn btn-sm btn-primary">12</a><a href="" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span></div> -->
                      <div class="products-sort-by mt-2 mt-lg-0"><strong>Sort by</strong>
                        <select name="sort-by" id="sorting-filter" class="form-control">
                          <option value="low-to-high">Price (Low to High)</option>
                          <option value="high-to-low">Price (High to Low)</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row products">
                {% for data in product_data.object_list %}
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="/product/{{data.id}}"><img src="../{{data.image1}}" alt="" class="img-fluid" style="height: 330px;"></a></div>
                        <div class="back"><a href="/product/{{data.id}}"><img src="../{{data.image2}}" alt="" class="img-fluid" style="height: 330px;"></a></div>
                      </div>
                    </div><a href="/product/{{data.id}}" class="invisible"><img src="../{{data.image1}}" alt="" class="img-fluid" style="height: 330px;"></a>
                    <div class="text">
                      <h3><a href="/product/{{data.id}}">{{ data.product_name }}</a></h3>
                      <p class="price"> 
                        <del></del> {{data.price}}
                      </p>
                      <p class="buttons">
                        <a href="/product/{{data.id}}"  class="btn btn-outline-secondary">View detail</a>
                        {% if data.stock_quantity > 0 %}
                        <a  class="btn btn-primary addCart" data-id="{{data.id}}"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        {% else %}
                        <a  class="btn btn-primary" data-id="{{data.id}}"><i class="fa fa-shopping-cart"></i>Out of Stock</a>
                        {% endif %}
                      </p>
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                {% endfor %}   
                <!-- /.products-->
              </div>
              <div class="pages">
                <!-- <p class="loadMore"><a href="" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p> -->
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    {% if product_data.has_previous %}
                    <li class="page-item ml-10"><a href="?{% query_transform page=product_data.previous_page_number %}" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                    {% endif %}
                    {% for x in product_data.paginator.page_range %}
                      {% if x == product_data.number %}
                      <li class="page-item active"><a href="?{% query_transform %}&page={{x}}" class="page-link"> {{x}} </a></li>
                      {% else %}
                      <li class="page-item"><a href="?{% query_transform %}&page={{x}}" class="page-link"> {{x}} </a></li>
                      {% endif %}
                    {% endfor %}
                    {% if product_data.has_next %}
                    <li class="page-item"><a href="?{% query_transform page=product_data.next_page_number %}" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>

    <script>


      // Ajax call to add items to cart
      $('.addCart').click(function(){
        event.preventDefault()
        console.log('Button clicked')

        let mythis = this
        
        let a = $(mythis).attr("data-id");
        $.ajax({
          url : `/cart/add/${a}/{{user}}`,
          method : "GET",
          success : function(data){
            if (data.redirect=='required'){
            window.location.href=data.url
            }
            if (data.status == 'success'){
              toastr.success(data.message)
              $(mythis).html('Added to cart')
            }
          }
        })

      })


      // Ajax call for filters
      $('#applyBtn').click(function(){
        function updateOptions(){
          var brand_ids = []
          var color_ids = []

          $('.filterbrand:checked').each(function(){
            brand_ids.push($(this).val())
          })

          $('.filtercolor:checked').each(function(){
            color_ids.push($(this).val())
          })

          $.ajax({
            url : $(location).attr('href'),
            method : 'GET',
            success : function(data){
              console.log(data)
            }
          })
        }
      })

    </script>




{% endblock %}








