{% extends '../base.html' %}
{% load static %}
{% block title %} Shopiee Sales {% endblock %}
{% block content %}

<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- breadcrumb-->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li aria-current="page" class="breadcrumb-item active">My account</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-3">
          <!--
              *** CUSTOMER MENU ***
              _________________________________________________________
              -->
          <div class="card sidebar-menu">
            <div class="card-header">
              <h3 class="h4 card-title">Customer section</h3>
            </div>
            <div class="card-body">
              <ul class="nav nav-pills flex-column"><a href="/orders/{{user}}" class="nav-link"><i
                    class="fa fa-list"></i> My orders</a><a href="/wishlist/{{user}}" class="nav-link"><i
                    class="fa fa-heart"></i> My wishlist</a><a href="/account/{{user}}" class="nav-link active"><i
                    class="fa fa-user"></i> My account</a><a href="/logout/{{user}}" class="nav-link"><i
                    class="fa fa-sign-out"></i> Logout</a></ul>
            </div>
          </div>
          <!-- /.col-lg-3-->
          <!-- *** CUSTOMER MENU END ***-->
        </div>
        <div class="col-lg-9">
          <div class="box">
            <h1>My account</h1>
            <p class="lead">Change your personal details or your password here.</p>
            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
              egestas.</p>
            <h3>Change password</h3>
            <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="old_password">Old password</label>
                    <input id="old_password" name="old_password" type="password" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="new_password">New password</label>
                    <input id="new_password" name="new_password" type="password" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cnf_password">Retype new password</label>
                    <input id="cnf_password" name="cnf_password" type="password" class="form-control">
                  </div>
                </div>
              </div>
              <!-- /.row-->
              <div class="col-md-12 text-center">
                <button type="submit" id="passwordBtn" class="btn btn-primary"><i class="fa fa-save"></i> Save new password</button>
              </div>
            </form>
            <h3 class="mt-5">Personal details</h3>
            <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="first_name">Firstname</label>
                    <input id="first_name" name="first_name" type="text" class="form-control" value={{data1.first_name}}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="last_name">Lastname</label>
                    <input id="last_name" name="last_name" type="text" class="form-control" value="{{data1.last_name}}">
                  </div>
                </div>
              </div>
              <!-- /.row-->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="house">House No.</label>
                    <input id="house" name="house" type="text" class="form-control" value="{{data2.house}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="area">Area</label>
                    <input id="area" name="area" type="text" class="form-control" value="{{data2.area}}">
                  </div>
                </div>
              </div>
              <!-- /.row-->
              <div class="row">
                <div class="col-md-6 col-lg-3">
                  <div class="form-group">
                    <label for="landmark">Landmark</label>
                    <input id="landmark" name="landmark" type="text" class="form-control" value="{{data2.landmark}}">
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="form-group">
                    <label for="zip">ZIP</label>
                    <input id="zip" name="zip" type="text" class="form-control" value="{{data2.zip}}">
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="form-group">
                    <label for="state">State</label>
                    <input id="state" name="state" type="text" class="form-control" value="{{data2.state}}">
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="form-group">
                    <label for="city">City</label>
                    <input id="city" name="city" type="text" class="form-control" value="{{data2.city}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input id="mobile" name="mobile" type="text" class="form-control" value="{{data1.mobile}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" class="form-control" value="{{data1.email}}">
                  </div>
                </div>
                <div class="col-md-12 col-lg-12">
                  <div class="form-group">
                      <button type="button" id="currentLocation" class="form-control"><i class="bi bi-geo-alt-fill"></i>Get Current Location</button>
                  </div>
              </div>
                <div class="col-md-12 text-center">
                  <button id="detailBtn" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

// ****************Ajax Script for updating personal details**************
$('#detailBtn').click(function(){

  event.preventDefault()
  let first_name = $('#first_name').val()
  let last_name = $('#last_name').val()
  let house = $('#house').val()
  let area = $('#area').val()
  let landmark = $('#landmark').val()
  let zip = $('#zip').val()    
  let state = $('#state').val()
  let city = $('#city').val()
  let mobile = $('#mobile').val()
  let email = $('#email').val()
  let csr = $('input[name=csrfmiddlewaretoken]').val()

  if ((first_name == '') || (last_name == '') || (house == '') || (area == '') || (landmark == '') || (zip=='') || (state=='') || (city == '') || (mobile=='')|| (email=='')){
    toastr.message('Address must be provided with proper location.')
  } else {
    mydata = {first_name:first_name,last_name:last_name,house:house, area:area,landmark:landmark,zip:zip, state:state, city:city,mobile:mobile, email:email,csrfmiddlewaretoken:csr}
  }

  $.ajax({
    url : '/account/{{user}}',
    method : "POST",
    data : mydata,
    success : function(data){
      if (data.status=='success'){
        toastr.success(data.message)
      }
    }
  })
})

// ajax script to update password

$('#passwordBtn').click(function(){
  event.preventDefault()

  let old_password=$('#old_password').val()
  let new_password=$('#new_password').val()
  let cnf_password=$('#cnf_password').val()
  let csr = $('input[name=csrfmiddlewaretoken]').val()


  if ((old_password=='')||(new_password=='')||(cnf_password=='')){
    toastr.warning("Required credentials can't be left empty.")
  } else if (new_password != cnf_password) {
    toastr.warning("Password and confirm password doesn't match.")
    $('form')[0].reset()
  } else {
    mydata = {old_password:old_password,new_password:new_password, cnf_password:cnf_password, csrfmiddlewaretoken:csr}
  }

  $.ajax({
    url : '/update_password/{{user}}',
    method : "POST",
    data : mydata,
    success : function(data){
      if (data.status=='success'){
        toastr.success(data.message)
      } else if (data.status=='error') {
        toastr.error(data.message)
      } else {
        toastr.message(data.message)
      }
    }


  })
})


$('#currentLocation').click(function(){
        if( navigator.geolocation )
        {
           // Call getCurrentPosition with success and failure callbacks
           navigator.geolocation.getCurrentPosition( success, fail );
        }
        else
        {
           alert("Sorry, your browser does not support geolocation services.");
        }
    })

    function success(position)
     {
        console.log(position.coords.longitude)
        console.log(position.coords.latitude)

        var nominatimUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${position.coords.latitude}&lon=${position.coords.longitude}`;
        $.ajax({
            url : nominatimUrl,
            method:'GET',
            success:function(data){
                // alert(data.display_name)
                var test = data.display_name.split(',')
                $('#city').val(test[0].split(' ')[0])
                $('#zip').val(test[4])
                $('#state').val(test[3])
                $('#area').val(test[1])
            },
            error: function(){
                alert('There is some error')
            }
        })
     }

     function fail()
     {
        // Could not obtain location
     }



</script>



{% endblock %}
